#{extends 'main.html' /}
#{set title:'Find influencers to be noticed by to get more RTs - powered by Klout' /}

<div class="container mtop40">
	<div class="row">
		<div class="span12 offset2">
			<h1 class="logo">Kloutstitute</h1>
			<h2>
				<span class="grey">Find influencers to be noticed by</span> to get more RTs
				
			</h2>
			
			<form id="form" class="roundcorner bg-grey" action="@@{Application.index}" method="POST" accept-charset="utf-8">
				<fieldset>
					<div class="input-prepend clearfix">
						<span class="add-on">@</span>
						<input type="text" name="twitter_name" placeholder="username" class="example" value="${params.twitter_name}">

					</div>
					<div class="clearfix">
						<textarea class="tweet span11 example" placeholder="Copy your tweet here" id="" name="tweet" rows="3" maxlenght="140">${params.tweet}</textarea>
					</div>
					<button type="submit" class="btn primary mtop10 large text-centered span4">Find influencers!</button>
				</fieldset>
			</form>
		</div>
		<div class="span12 offset2 results">
		</div>
		
		<div class="span12 offset2 text-right mbottom10">
			<hr/>
			<span class="small">powered by</span> <img src="https://mb-misc.s3.amazonaws.com/klout.png" title="Klout" width="80px" class="valign-bottom" />
		</div>
	</div>
</div>
#{set 'moreScripts'}
<script type="text/javascript">
	var URL_GET_KLOUT_USERS = '@{Application.getKloutUsers}';
	var URL_GET_FOLLOWERS = '@{Application.getTwitterFollowers}';
	var URL_GET_FOLLOWERS_BY_TOPICS = '@{Application.getFollowersByTopics}';
	var IMG_CAT = '@{'/public/images/sad_cat.jpg'}';
	var IMG_SPINNER = '@{'/public/images/spinner.gif'}'
</script>
#{/set}