#{extends 'main.html' /}
#{set title:'playSF hackathon' /}

<div class="container mtop40">
	<div class="row">
		<div class="span12 offset2">
			<h2>
				<span class="grey">Check out influencers</span> to get noticed by before you tweet
			</h2>
			<div class="roundcorner bg-grey">
				<div class="roundcorner bg-white username span3 example"><em>@username</em>
				</div>
				<div class="roundcorner bg-white"> 
					<div class="example"><em>Copy your tweet here</em></div>
				</div>
				<div class="btn primary mtop10 large mleft20 mbottom10 span3">Check out influencers!
				</div>
			</div>
		</div>
		<div class="span12 offset2">
			<h3 class="mtop20 mbottom10">Best influencers for your tweet (are following you)</h3>
			<div class="row">
			<div class="span6">
				<div class="row">
					<div class="span1 klout">22
					</div>
					<div class="span4">
						<a href="" class="linktitle">@plunchete</a> 
						<div>Amplification score: <strong>5</strong></div>
					</div>
				</div>
			</div>
			<div class="span6">
				<div class="row">
					<div class="span1 klout">22
					</div>
					<div class="span4">
						<a href="" class="linktitle">@klout</a> 
						<div>Amplification score: <strong>5</strong></div>
					</div>
				</div>
			</div>
			</div>
			<hr />
			<div class="row">
			<div class="span6">
				<div class="row">
					<div class="span1 klout">22
					</div>
					<div class="span4">
						<a href="" class="linktitle">@masterbranch</a> 
						<div>Amplification score: <strong>5</strong></div>
					</div>
				</div>
			</div>
			</div>
			<hr />
			
		</div>
	</div>
</div>

